{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "screens": "guessNumber/screens",
          "components": "guessNumber/components"
        }
      }
    ]
  ]
}
